* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  padding-top:30px;
  font-size:.5rem;
}


.lomotitle {
  background-color: pink;
  padding-bottom: 1rem;
  font-family: Caveat;
  font-size: 6rem;
  letter-spacing: 1.5rem;
  color:darkred;
}

.subtitle {
  background-color: pink;
  padding-bottom: 3rem;
  font-size: 1.5rem;
  letter-spacing: .75rem;

}

.button {
  display:block;
  width: 100%;
  border: none;
  padding: 50px 28px 30px;
  font-size: 2rem;
  cursor:pointer;
  text-align: center;
  background-color: white;
}

.page2buttons {
  background-color: darkred;
  color:pink;
  margin: 5px;
  padding: 5px;
  font-size: 1.3rem;
  border-style:dotted;
  border-radius: 10%;
  border: 4px double #cccccc;
}

a:link {
  color:darkred;
  text-decoration: none;
}

a:visited {
    color:pink;
}

a:hover {
  color:darkred
}

a:active {
  color:aliceblue
}

.lessons {
  padding: 30px 200px;
  font-family: caveat;
  font-size: 2rem;
  width:50%
}

.list {
  padding-left: 600px;
  line-height: 2rem;
  list-style-position: inside;
  text-align: left;
}

.meat li::marker {
  content: '🥩   ';
}

.footer {
    margin-top: auto;
    padding-bottom: 50px;
  }

  .image {
    <img src="photos/lomosaltado.png" length="400" width="800" style="position: absolute; top: 170px; left: 470px;">
  }