* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  min-height: calc(100vh - 40px);
}

.maincontainer {
    width:60%;
    margin: 0 auto;
}

/*-------Style Headers--------*/

@media only screen and (min-width:768px),
       only screen and (min-width:700px) 
       and (orientation:landscape) {
.lomotitle, .subtitle {
  background-color: pink;
}

.minititle {
  padding-top:5px;
  font-size:.5rem;
}

.lomotitle {
  padding-bottom: 1rem;
  font-family: Caveat;
  font-size: 6rem;
  letter-spacing: 1.5rem;
  color:darkred;
}

.subtitle {
  padding-bottom: 3rem;
  font-size: 1rem;
  letter-spacing: .75rem;
}

/*------Style all buttons on every page ----------*/
.buttons {
  background-color: darkred;
  color:pink;
  margin: 5px;
  padding: 5px;
  font-size: 1.3rem;
  border-style:dotted;
  border-radius: 10%;
  border: 4px double #cccccc;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
 
.lomoimage {
  background-position:top;
    background-color: lightblue;
    background-size: cover;
    margin: -18rem;
    z-index: -5;
 }

a:link {
  color:darkred;
  text-decoration: none;
}

a:visited {
    color:pink;
}

a:hover {
  color:lightcoral
}

a:active {
  color:aliceblue
}

/*---------Style maindiv of index page------------*/
.maindiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.lessonslearned {
  font-family: caveat;
  font-size: 2rem;
  text-align: left;
  padding-left: 2rem;
}

.list {
  line-height: 2rem;
  display: flex;
  justify-content: center;
}

.meat {
  text-align: left;
}

.what {
  margin-left: 30%;
  width: 30rem;
  padding: 2rem;
  line-height: 1.5rem;
}

.olspacing {
  padding-top: 1.5rem;
}

.ingredientlist {
  padding-left: 28rem;
    line-height: 2rem;
    list-style-position: inside;
    text-align: left;
}

.columns {
  columns:2;
  width:45%;
  padding:1rem;
}

.bottomcushion {
  padding-bottom: 5rem;
}

.sideimage {
    position: absolute; 
    top: 15rem; 
    right:20rem;
    border: 2px solid darkred;
    border-radius: 2rem;
  }

.video {
    background-color: lightblue;
    position: absolute; 
    top: 20rem; 
    right:12rem;
    padding: 15rem 25rem;
   }

.h_iframe iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%; 
    height:100%;
    border-color: darkred;
    border-width: 8px;
  }

.meat li::marker {
  content: '🥩   ';
}

.flag li::marker {
  content: '🇵🇪    ';
}
       }