* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}


.title {
  padding-top:30px;
  font-size:.5rem;
}

.lomotitle {
  background-color: pink;
  padding-bottom: 1rem;
  font-size: 6rem;
  font-family: caveat;
  letter-spacing: 1.5rem;
  color:darkred;
}

.subtitle {
  background-color: pink;
  padding-bottom: 3rem;
  font-size: 1.5rem;

}

a:link {
  color:red;
  text-decoration: none;
}

a:visited {
  color:green;
}

a:hover {
  color:darkred
}

a:active {
  color:aliceblue
}

/*
h4 {
  top:200px; left:790px;
}

.lessons {
  top:300px; left:700px;
}

.footer {
    top:800px; 
    left:800px;
    text-align: center;
    color: rgb(4, 3, 3);
  }